* {
  letter-spacing: 0 !important;
}

body {
  background-color: #000;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.row {
  margin: 0;
}

.main-page {
  background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/c2578c37-8569-4f88-b8f1-67a26a9ddcdd/4f46d201-48d4-40a7-9bfb-8e260d680912/IN-en-20220725-popsignuptwoweeks-perspective_alpha_website_large.jpg');
  /* fallback image */
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0, transparent 60%, rgba(0, 0, 0, .8)), radial-gradient(10% 50%, transparent 0, rgba(0, 0, 0, 0.5) 100%), url('https://assets.nflxext.com/ffe/siteui/vlv3/c2578c37-8569-4f88-b8f1-67a26a9ddcdd/4f46d201-48d4-40a7-9bfb-8e260d680912/IN-en-20220725-popsignuptwoweeks-perspective_alpha_website_large.jpg');
  background-position-y: -3.5rem;
  background-size: 100vw 800px;
  height: 693.594px;
  overflow: hidden;
  border-bottom: 8px solid #222222;
}

.brand-logo {
  width: 190px;
  height: 55px;
}

nav {
  margin: 20px 30px;
}

.right-container {
  margin-left: auto;
  list-style-type: none;
  display: flex;
}

.sign-button,
.sign-button:focus,
.sign-button:hover {
  background: #E50815;
  color: #fff;
  text-transform: capitalize;
  color: #fff;
  margin-top: 1rem;
  margin-left: 20px;
  margin-right: 10px;
  width: 95px;
  border: none;
  /* border: #E50815; */
  /* padding: 2px; */
}

.lang-button,
.lang-button:hover,
.lang-button:focus {
  border: 1px solid #AAAAAA;
  border-radius: 2px;
  text-transform: capitalize;
  color: #fff;
  margin-top: 1rem;
  margin-left: 20px;
  margin-right: 10px;
  width: 100px color: #fff;
}

.head-content {
  margin: 50px 45px 70px;
  margin-top: 80px;
  color: white;
  padding: 0 40px 0 40px;
  text-align: center;
}

.primary {
  padding-top: 75px;
  padding-bottom: 30px;
}

.heading1 {
  margin: 0 auto;
  max-width: 500px;
  font-size: 3.125rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.heading2 {
  font-weight: 400;
}

p {
  font-size: 1.2rem;
}

.mail {
  position: inline-block;
  height: 60px;
  width: 440px;
  padding: 20px;
  margin-right: 0;
}

.mail-btn,
.mail-btn:hover,
.mail-btn:focus {
  background: #E50815;
  color: #fff;
  text-transform: capitalize;
  margin-left: 0px;
  margin: 0;
  height: 58px;
  width: 200px;
  border-radius: 2px;
  font-size: 1.7rem;
  font-weight: light;
  border: none;
  margin-bottom: 4px;
}

.row-tv {
  color: #fff;
  border-bottom: 8px solid #222222;
  padding-bottom: 40px;
}

.tv {
  position: relative;
  padding: 0;
}

.tv-image {
  width: 531px;
  height: 398px;
  margin-left: 40px;
  margin-top: 10px;
  z-index: 9;
}

.tv-text {
  padding: 100px;
  padding-right: 50px;
  padding-top: 130px;
}

.video-tv {
  position: absolute;
  z-index: -100;
  top: 85px;
  height: 220px;
  left: 110px;
}

.tv-heading {
  font-size: 3.125rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  padding-left: 80px;
}

.tv-mini-heading {
  margin-top: 20px;
  line-height: 1.3;
  font-size: 1.625rem;
  font-weight: 400;
  padding-left: 80px;
}

.mobile-heading {
  font-size: 3.125rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  padding-right: 80px;
  margin-left: 0;
}

.mobile-mini-heading {
  margin-top: 20px;
  line-height: 1.3;
  font-size: 1.625rem;
  font-weight: 400;
  padding-right: 80px;
  margin-left: 0;
}

.mobile-text {
  padding: 100px;
  padding-left: 0;
  padding-top: 130px;
}

.mobile {
  position: relative;
  padding: 0;
}

.mobile-image {
  width: 506px;
  height: 383px;
  margin-left: 90px;
  margin-top: 30px;
  z-index: 9;
}

.div-image {
  position: absolute;
  display: flex;
  left: 180px;
  bottom: 50px;
  background: #000;
  border: 2px solid hsla(0, 0%, 100%, .25);
  align-items: center;
  border-radius: 15px;
  padding: 0.5em 0.75em;
  overflow: hidden;
  font-size: 16px;
  width: 45%;
}

.stranger {
  width: 51.422px;
  height: 76px;
  margin-right: 1rem;
}

.right--contain {
  margin-left: auto;
}

.gif {
  width: 60px;
  height: auto;
}

.stranger-para {
  font-size: 0.9em;
  color: #0171EB;
  margin: 0;
  padding: 0;
}

.stranger-head {
  font-size: 1em;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 0;
  padding-bottom: 0;
}


.monitor-image {
  overflow: hidden;
  width: 555.453px;
  height: 416.586px;
  margin-left: 40px;
  margin-top: 10px;
  z-index: 9;
}

.row-monitor {
  color: #fff;
  border-bottom: 8px solid #222222;
  padding-top: 40px;
  padding-bottom: 60px;
}

.video-monitor {
  position: absolute;
  z-index: -100;
  top: 40px;
  width: 350px;
  left: 130px;
  height: 197.672;
}

.children {
  margin-top: 20px;
  padding-left: 80px;
  padding-bottom: 35px;
}

ul {
  list-style: none;
  padding: 0;
}

.child {
  width: 506px;
  height: 383px;
  margin-left: 90px;
  margin-top: 50px;
  z-index: 9;
}

.question-section {
  line-height: 1.1;
}

.heading-last {
  color: #fff;
  font-size: 3.125rem;
  font-weight: 600;
  text-align: center;
  margin: 65px auto 50px auto;
}

.question {
  display: flex;
  background: #303030;
  color: #fff;
  text-align: left;
  font-weight: 400;
  padding: 1.2rem;
  align-items: center;
  margin: auto;
  width: 55%;
  margin-bottom: 7px;
  cursor: pointer;
}

.question-para {
  margin-top: 1;
  font-size: 1.625rem;
  margin-bottom: 0rem;
}

.none {
  display: none;
}

.answer {
display: block;
  background: #303030;
  color: #fff;
  text-align: left;
  font-weight: 400;
  font-size: 1.625rem;
  padding: 1.2rem;
  align-items: center;
  margin: auto;
  width: 55%;
  height: auto;
  margin-bottom: 7px;
  animation: slideDown;
  animation-duration: 4s;
}
@keyframes slideDown {
  from{
  height: 0;
  }
  to{
height: 1;
  }
}

.dis {
height: 0;
  overflow: hidden;
}

.close {
  display: none;
}

.add {
  display: none;
}

.sec-mail {
  text-align: center;
  margin-top: 60px;
  padding-bottom: 60px;
  border-bottom: 8px solid #222222;
  color: #fff;
}


.footer {
  position: relative;
margin-top: 30px;
  margin-bottom: 80px;
}
ul {
  list-style: none;
  font-size: 100%;
  color: rgba(255, 255, 255, 0.367);
  font-weight: 100;
}
.li-footer:hover {
  cursor: pointer;
  color: #fff;
}
.service-btn {
  background-color: transparent;
  margin-left: 30px;
  color: rgba(255, 255, 255, 0.367);
  border: 1px solid rgba(255, 255, 255, 0.367);
  font-size: 15px;
  font-weight: 100;
}
.copy-right {
  font-size: 15px;
  font-weight: 200;
  color: rgb(249, 14, 14);
  margin-left: 28px;
}
.sec{
  background-color: black;
  height: 100%;
  width: 100%;
  border-bottom: 9px solid #222;
}
.contactbtn i {
margin-left: 10px;
float: right;
}

.cart button{
  background-color: #303030;
  text-align: start;
  padding: 20px;
  font-size: 1.625rem;
  margin-bottom: 5px;
}
.cart div{
  background-color: #303030;
font-size: 1.625rem;

}
